<%- include('partials/header') %>

<div class="container mt-5">
    <h1>List of Candidates</h1>

    <table class="table table-striped">
        <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; candidates.candidates[i] !== undefined; i++) { %>
        <tr>
          <th scope="row">
            <form action="/shortlist?_method=PUT" method="post">
              <% if (candidates.candidates[i].state === "shortlisted") { %>
                <button disabled class="btn btn-secondary">Shortlisted</button>
              <% }  else { %>
                <button type="submit" class="btn btn-success" name="shortlistButton" value="<%= candidates.candidates[i].id %>">Shortlist</button>
              <% } %>
            </form>
          </th>
          <td><%= candidates.candidates[i].first_name %></td>
          <td><%= candidates.candidates[i].last_name %></td>
          <td><%= candidates.candidates[i].email %></td>
        </tr>
      <% } %>
    </tbody>
    </table>
  

    <form action="/create-candidate" method="get">
      <button class="btn btn-primary" type="submit">Create new candidate</button>
    </form>

</div>
 
<%- include('partials/footer') %>